@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>CP Online Shopping</h1>
    <p class="lead">
        This Marketplace is India’s leading platform for selling online.
    </p>
</div>

<div class="row">
    <p>
        Find more products by selecting Category below.
    </p>
</div>

<div>
    @Html.Partial("_CategoriesPanel", (IEnumerable<Category>)ViewBag.Categories)
</div>
